div.controls-card {
    margin: 8px;
    padding: 8px;

    background-color: #cae8e0;
}

.control-avatar {
    width: 64px;
    border-radius: 32px;
    border: 2px solid white;
}

.control-avatar-bank {
    width: 64px;
    height: 64px;
    font-size: 60px;
    // border: 2px solid white;
}

.control-avatar-button {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin: auto 16px auto 0;
    vertical-align: middle;
}

.control-name {
    font-family: Meie Script;
}

.control-title {
    margin-left: 0.7em;
}

.control-divider {
    border: 1px solid rgba(0, 0, 0, 0.05);
    width: 100%;
}
