button.prompt-bill, button.prompt-bill:hover {
    &.one {
        background-color: #e3dac9 !important;
    }
    &.five {
        background-color: #e5c0b8 !important;
    }
    &.ten {
        background-color: #e8dea9 !important;
    }
    &.twenty {
        background-color: #95c1b2 !important;
    }
    &.fifty {
        background-color: #9eced0 !important;
    }
    &.hundred {
        background-color: #dec682 !important;
    }
    &.fivehundred {
        background-color: #e5b42b !important;
    }
}
