// Variables
$layout-breakpoint-xs:     600px;
$layout-breakpoint-sm:     960px;
$layout-breakpoint-md:     1280px;
$layout-breakpoint-lg:     1920px;


// Master container object
// rapper = responsive wrapper
.rapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $layout-breakpoint-xs) {
        width: $layout-breakpoint-xs
    }

    @media (min-width: $layout-breakpoint-sm) {
        width: $layout-breakpoint-sm
    }

    @media (min-width: $layout-breakpoint-md) {
        width: $layout-breakpoint-md
    }

    @media (min-width: $layout-breakpoint-lg) {
        width: $layout-breakpoint-lg
    }
}
