doctype html
html(ng-app="spgill.MonopolyManager" ng-cloak)
    head
        include head

    body(layout="column")

        //- Toolbar
        md-toolbar
            div.md-toolbar-tools.rapper
                span.kabel lobbyOPOLY

            span.flex

        //- Content below toolbar
        md-content
            md-button.md-accent.md-raised Start a new game

        script(src="/js/bower.js")
        script(src="/js/index.js")
