doctype html
html(ng-app="spgill.MonopolyManager" ng-cloak)
    head
        include head

    body(layout="column")

        //- Toolbar
        md-toolbar(ng-controller="ToolbarController as toolbar")
            div.md-toolbar-tools.rapper
                span.kabel LobbyOPOLY

                span.flex

                div.toolbar-button(ng-if="toolbar.global.lobby_button")
                    md-button.md-icon-button.md-raised(
                        ng-click="toolbar.global.lobby_button($event)"
                        )
                        md-icon(md-colors="{'color': 'accent'}") people

                div.toolbar-code
                    div.spacer(ng-if="toolbar.global.lobby_button")
                    span {{ toolbar.global.lobby_code }}



        //- Content/Router view
        md-content.rapper(flex ui-view)

        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-59759887-6', 'auto');
            ga('send', 'pageview');

        include scripts
