doctype html
html(ng-app="spgill.MonopolyManager" ng-cloak)
    head
        include head

    body(layout="column")

        //- Toolbar
        md-toolbar(ng-controller="ToolbarController as toolbar")
            div.md-toolbar-tools.rapper
                span.kabel LobbyOPOLY

                span.flex

                span {{ toolbar.global.lobby_code }}

        //- Content/Router view
        md-content.rapper(flex ui-view)

        include scripts
