doctype html
html(ng-app="spgill.MonopolyManager" ng-cloak)
    head
        include head

    body(layout="column")

        //- Toolbar
        md-toolbar
            div.md-toolbar-tools.rapper
                span.kabel LobbyOPOLY

                span.flex

                md-button.md-icon-button
                    md-icon more_vert

        //- Content/Router view
        md-content.rapper(flex ui-view)

        include scripts
