div(layout-fill layout="column" layout-align="center center" ng-init="main.toolbar_wipe()")

    div(layout="column" layout-align="center stretch")
        md-input-container.skinny
            label Name
            input(required ng-model="main.name")

        md-input-container.skinny
            label Lobby Code
            input(required md-no-asterisk ng-model="main.code")

        md-button.md-primary.md-raised(
            ng-click="main.join()"
            ) Join Lobby

    div.splash-divider(layout="row" layout-align="center center")
        hr.splash(flex)
        span.md-caption.splash-divider or
        hr.splash(flex)

    div(layout="column" layout-align="center stretch")
        md-button.md-accent(
            ng-click="main.create()"
            ) Create Lobby

        p.md-caption.splash-warning.
            * - Required to create lobby. By creating a lobby, you will become the banker of the lobby, and
            will be responsible for policing the finances of the game.
