div(layout-fill layout="column" layout-align="center center")

    div.inner(layout="column" layout-align="center stretch")

        md-input-container.skinny
            label Lobby Code
            input

        md-input-container.skinny
            label Name
            input

        md-button.md-primary.md-raised Join Lobby

        span(style="height: 12px;")
        span(style="text-align: center;").md-caption or
        span(style="height: 12px;")

        md-button.md-accent.md-raised Create Lobby
