div(layout-fill layout="column" layout-align="center center")

    div.inner(layout="column" layout-align="center stretch")

        md-input-container.skinny
            label Lobby Code
            input

        md-input-container.skinny
            label Name
            input

        md-button.md-primary.md-raised Join Lobby

        div.splash-divider(layout="row" layout-align="center center")
            hr.splash(flex)
            span.md-caption.splash-divider or
            hr.splash(flex)

        md-button.md-accent.md-raised Create Lobby

        p.md-caption.splash-warning.
            By creating a lobby, you will become the banker of the lobby, and
            will be responsible for policing the finances of the game.
